JWT_SECRET_KEY=e7b77215af684aba757435177242dbb44db4b8f28df44da920056ba753d9b2fa
ADMIN_EMAIL=vpawankumar2025@gmail.com
SMTP_USER=vpawankumar2025@gmail.com
SMTP_PASS=vskryciiqseamhcp
TWILIO_SID=ACe34e08070a521f1fb20238da08d95d5b
TWILIO_API_KEY_SID=SKae9469aad9682c1056932632608209aa
TWILIO_API_KEY_SECRET=alziy8d8KJQ9wJvnAWkW0iJvI3q9O4Ip
TWILIO_FROM_NUMBER=+91 7092779050
GMAIL_OAUTH_CLIENT_ID=206689297824-nannevba3oap2629c35lr3ie3v2c4ojv.apps.googleusercontent.com
GMAIL_OAUTH_CLIENT_SECRET=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
GMAIL_OAUTH_REDIRECT_URI=http://localhost:8000/api/mailbox/callback/google
MS_OAUTH_CLIENT_ID="4cefd7bc-24ee-4588-b6d4-9a1c2e1212c9"
MS_OAUTH_CLIENT_SECRET=0Yf8Q~pYx~iYbxbck0v61b9Tu04PaJz9C1hMBc3H
